<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<!-- ================================================================================= -->
	<!--                                                                    Servlet Filter -->
	<!--                                                                    ============== -->
	<filter>
		<filter-name>loggingFilter</filter-name>
		<filter-class>org.docksidestage.bizfw.web.RequestLoggingFilter</filter-class>
	</filter>

	<!-- ================================================================================= -->
	<!--                                                                    Filter Mapping -->
	<!--                                                                    ============== -->
	<filter-mapping>
		<filter-name>loggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ================================================================================= -->
	<!--                                                                           Servlet -->
	<!--                                                                           ======= -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--                                             maihama -->
	<!--                                             ~~~~~~~ -->
	<servlet>
		<servlet-name>broadwayServlet</servlet-name>
		<servlet-class>org.docksidestage.app.web.maihama.BroadwayServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>docksideServlet</servlet-name>
		<servlet-class>org.docksidestage.app.web.maihama.DocksideServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--                                               yours -->
	<!--                                               ~~~~~ -->
	<servlet>
		<servlet-name>yourServlet</servlet-name>
		<servlet-class>org.docksidestage.app.web.yours.YourServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- ================================================================================= -->
	<!--                                                                   Servlet Mapping -->
	<!--                                                                   =============== -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--                                             maihama -->
	<!--                                             ~~~~~~~ -->
	<servlet-mapping>
		<servlet-name>broadwayServlet</servlet-name>
		<url-pattern>/broadway</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>docksideServlet</servlet-name>
		<url-pattern>/dockside</url-pattern>
	</servlet-mapping>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--                                               yours -->
	<!--                                               ~~~~~ -->
	<servlet-mapping>
		<servlet-name>yourServlet</servlet-name>
		<url-pattern>/your</url-pattern>
	</servlet-mapping>

	<!-- ================================================================================= -->
	<!--                                                                    Session Config -->
	<!--                                                                    ============== -->
	<session-config>
		<session-timeout>120</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

    <!-- ================================================================================= -->
    <!--                                                                        JSP Config -->
    <!--                                                                        ========== -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
		</jsp-property-group>
	</jsp-config>

	<!-- ================================================================================= -->
	<!--                                                                        Error Page -->
	<!--                                                                        ========== -->
	<error-page><error-code>400</error-code><location>/error/400.html</location></error-page>
	<error-page><error-code>404</error-code><location>/error/404.html</location></error-page>
	<error-page><error-code>500</error-code><location>/error/500.html</location></error-page>
	<error-page><exception-type>java.lang.Exception</exception-type><location>/error/500.html</location></error-page>
</web-app>
